.jumbotron {
      background-image: url('/assets/images/Frigo.jpg');
      background-size: cover;
      background-position: center center;
    }



    /*https://scotch.io/courses/build-your-first-angular-website/adding-an-imagelogo-in-angular*/